:root {
    --accent: #e0a458;
    --blue: #53a2be;
    --green: #419d78;
    --red: #d9594c;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.5);
    border-radius: 35px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: rgba(255,255,255,.1);
    border-radius: 35px;
}

body {
    font-size: 14px;
    background-color: #000 !important;
    overflow-x: hidden;
}

* {
    font-family: 'Overpass Mono', monospace;
    color: #fff;
}

.pointer {
    cursor: pointer;
}

.noAStyle {
    color: #fff;
    text-decoration: none;
}

.noAStyle:hover {
    color: #fff;
    text-decoration: none;
}

.nav {
    display: flex;
    position: fixed;
    top:0;
    width: 100%;
    left:0;
    backdrop-filter: blur(5px);
    padding: 25px;
    z-index: 3;
}

.nav-item {
    padding-right: 2rem;
    margin-top:auto;
    margin-bottom:auto;
}

.nav-link {
    transition: .3s;
    color: #fff;
    padding: 0 !important;
    font-family: var(--bs-font-sans-serif);
}

.nav-link:hover {
    color: #fff;
}

.nav-link::after {
    position: absolute;
    width: calc(100% - 2rem);
    height: 3px;
    background: var(--accent);
    box-shadow: 0px 2px 5px var(--accent);
    opacity: 0;
    margin-top: 10px;
    content: '';
    transition: .3s;
    left: 0;
    bottom: -15px;
}

.nav-link:hover::after {
    bottom: -10px;
    opacity:1;
}

.serif {
    font-family: var(--bs-font-sans-serif) !important;
}

.serif * {
    font-family: var(--bs-font-sans-serif) !important;
}

.small-title {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.line {
    width: 2.5px;
    height: 100%;
    z-index: 0;
}

.line .line-progress {
    transition: .3s;
    height: 4rem;
    display: none;
    background-color: var(--accent);
    top: 30rem;
    width: 2.5px;
    position: fixed;
}

.social-table-item-left {
    border-right: none !important;
    width: auto !important;
}

.social-table-item {
    width: 100%;
    border: 3px #000 solid;
    background: #222;
    padding: .75rem 1rem .75rem 1rem;
}

.social-table-item i {
    margin-top: 3px;
    width: 20px;
    text-align: center;
}

nav {
    z-index: 1;
}

p {
    color: #9ea7af!important;
    font-size: larger;
}

p a {
    color: #c2cad1 !important;
    transition: .3s;
}

p a:hover {
    color: #fff !important;
}

a {
    cursor: pointer;
}

.contact-value {
    right: 0;
    background: #fff;
    border-radius: 15px;
    padding: .25rem .5rem .25rem .5rem;
    opacity: 0;
    margin: -.25rem 4rem 0 -1rem;
    position: absolute;
    transition: .3s ease;
    color: #222;
}

.contact-icon {
    height: 40px;
}

.contact-icon i {
    width: 30px;
    text-align: center;
}

.contact-icon:hover .contact-value {
    margin-left: -1.5rem;
    opacity: 1;
}

.work-item {
    display: flex;
    cursor: pointer;
    width: 100%;
    background: #222;
    border-top: none !important;
    border: 3px #000 solid;
}

.work-title {
    padding: .75rem 1rem .75rem 1rem;
    width: 100%;
}

.work-description {
    background: #191919;
    padding: .75rem 1rem .75rem 1rem;
    border: 3px #000 solid;
    border-top: none !important;
}

.work-open {
    cursor: pointer;
    padding: 1rem;
    border-left: 3px #000 solid;
}

.work-item:not(.collapsed) .work-open i::before {
    content: "\f068" !important;
}

.work-item.collapsed .work-open i::before {
    content: "\f067" !important;
}

.work-open i {
    margin-top: 2px;
}

.language-container {
    margin-top: 4rem;
    display: flex;
    height: 500px;
    position: relative;
}

.language-bar {
    width: 16.6666666666%;
    position: relative;
    bottom: 0;
    border-left: 5px solid var(--accent);
}

.language-percent {
    margin-left: 10px;
    color: var(--accent);
}

.site-button {
    color: #fff;
    padding: .5rem .75rem .5rem .75rem;
    border: 3px #fff solid;
    text-decoration: none;
    transition: .3s;
}

.site-button:hover {
    color: #fff;
    text-decoration: none;
    border: 3px var(--accent) solid;
}

#page *:not(#particles-js) {
    z-index: 1;
}

.page-padding {
    padding: 5rem 15% 2rem 15%;
}

#particles-js{ 
    position:absolute; 
    width: 100%; 
    z-index: 0;
    top:0;
    height: 100%;
}

.main-page-top {
    position: relative;
    height: 100vh;
}

.main-page-top .serif {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: -1px -1px 0 var(--accent), 1px -1px 0 var(--accent), -1px 1px 0 var(--accent), 1px 1px 0 var(--accent), 0px 0px 5px #000, 0px 0px 30px #000, 0px 0px 20px #000 !important;
}

.main-page-top .serif b {
    transition: .3s;
    color: #000;
}

.main-page-top p, .main-page-top .serif {
    text-shadow: 0px 0px 5px #000, 0px 0px 30px #000, 0px 0px 20px #000;
    width: fit-content;
}

.main-page-top .row {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pull-right {
    position: absolute;
    right: 25px;
}

.wavy-divider {
    height: 150px;
    overflow: hidden;
    margin-top: -5rem;
    position: absolute;
    width: 100%;
    transform: rotate(180deg);
    z-index: 2 !important;
}

.overview-container {
    height: 600px;
}


#particles-js canvas {
    mask: url(../i/cutout.svg);
    -webkit-mask: url(../i/cutout.svg);
}

.wiggle-pattern {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23606060' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ascii {
    overflow: hidden;
}

.ascii * {
    overflow: hidden;
}

@media (max-width: 1000px) {
    .line {
        display:none;
    }

    .ascii {
        display: none;
    }
}

.texture {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

