* {
    --background: #262322;
    --background-alt: #211d1c;
    --background-dark: #1d1918;
    --text: #D1D5DB;
    --text-dark: #646D78;
    --accent: #f16b64;
}

::selection {
    background: var(--accent);
}

.light-theme * {
    --background: #D1D5DB !important;
    --background-alt: #b4bac3 !important;
    --background-dark: #aeb2b8 !important;
    --text: #262322 !important;
    --text-dark: #1d1918 !important;
}

.light-theme .text-white {
    color: var(--text) !important;
}

body {
    overflow-x: hidden;
    font-family: obviously, sans-serif;
    background: var(--background);
    color: var(--text);
}

header {
    display: flex;
    position: fixed;
    top: 2rem;
    right: 2.5rem;
    z-index: 2;
}

header a {
    margin-left: 1.5rem;
}

footer {
    position: fixed;
    padding: 1rem;
    bottom: -56px;
    transition: .3s;
    z-index: 3;
    width: 100%;
    text-align: center;
    background: var(--background);
}

input[type='submit'].disabled {
    opacity: .5;
    pointer-events: none;
}

.default-padding {
    width: 60vw;
    margin: auto;
}

.text-outline {
    color: var(--background);
    text-shadow: -1px -1px var(--text), 1px -1px 0 var(--text), -1px 1px 0 var(--text), 1px 1px 0 var(--text) !important;
}

.w-site {
    width: 60%;
}

.w-100 {
    width: 100%;
}

.bg-alt {
    background-color: var(--background-alt);
}

.bg-accent {
    background: var(--accent);
}

.bg-dark {
    background: var(--background-dark);
}

.bg-body {
    background: var(--background);
}

.text-accent {
    color: var(--accent);
}

.text-dark {
    color: var(--text-dark);
}

.site-circle circle, .site-circle path {
    fill: none; 
    stroke: var(--accent); 
    stroke-width: 5px;
}

.site-circle path {
    fill-rule: evenodd;
}

.site-circle {
    pointer-events: none;
}

.aspect-ratio-1-1 {
    aspect-ratio: 1/1;
}

main a {
    position: relative;
    cursor: pointer;
}

main a:not(.noAStyle)::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--text);
    position: absolute;
    bottom:-1px;
    opacity: .5;
    left:0;
    transition: .3s;
}

main a:hover::after {
    background: var(--accent);
    opacity: 1;
    height: 3px;
    bottom: -2px;
}

@media (max-width: 1000px) {
    .site-circle {
        opacity: .25;
    }

    .text-responsive {
        font-size: 3.5em !important;
    }

    .default-padding {
        width: 90vw;
    }
}

.pointer {
    cursor: pointer;
}

*::-webkit-scrollbar {
    height: .5rem!important;
    width: .5rem!important;
}
*::-webkit-scrollbar-thumb {
    border-radius: .25rem!important;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--text-dark)!important;
}
