@charset "utf-8";
/* CSS Document */
header {
    height: 10.5vw;
    padding-top: 0px;
    margin-top: 0px;
    background-color: black;
}



.the-word1 {
    Color: black;
    
    font-weight: bolder;
    font-size: 1.5vw;
    font-family: 'Californian FB';
    width: 50%;
}

 
    .the-word1:hover {
        cursor: pointer;

    }

.az {
    text-align: center;
    color: darkorange;
    text-decoration: underline;
    font-size: 2vw;
    font-weight: 600;
}

.the-def1 {
    color: black;
    font-size:1vw;
    font-family: 'Californian FB';
}

h1 {
    color: darkorange;
    text-align: center;
    vertical-align: middle;
    font-size: 6vw;
    align-items: baseline;
    margin-right: 15%;
    font-family: 'Californian FB';
    font-weight: 600;
}
body {
    height: 100%;
    background-image: url("../Other/DONE.jpg");
    background-size: 100%;
    
}
* {
    padding: 0;
    margin: 0;
}
header a {
    color: whitesmoke;
    font-size: 1.5vw;
    margin-left: 12vw;
    text-decoration-line: none;
    font-family: 'Californian FB';
}

.Cake {
    display:none;
}

.icon {
    float: right;
    margin-left:100vw;
}

img {
    float: left;
    margin-left: 3%;
    margin-top: 0.5vw;
    height: 8vw;
    color: orange;
    
}
h2 {

    margin-top: 2.7vw;
    font-size: 1.2vw;
    font-family: 'Californian FB';
    font-weight: 400;
    text-align: center;
    color: white;
    font-style: italic;
    margin-right: 33vw;
    margin-left: 33vw;
}


.Quizline {
    font-size: 1vw;
    text-align: center;
    color: black;
    margin-right: 25vw;
    margin-left: 25vw;
}
.Kahoot {
    padding-bottom: 5vw;
    margin-left: 9vw;
    margin-top: 1vw;

}
.Quiz {
    padding-top: 5vw;
    margin-left: 9vw;
}

.searchbar {
    margin-left: 12vw;
   padding-top: 12vw;
    padding-bottom: 5vw;
    
}


tr, td {
    padding: 1vw;
    text-align: center;
    background-color: #00688B;
    color: whitesmoke;
    width: 33.33%;
}

:root {
    --modal-duration: 1s;
    --modal-color: Black;
}
 .modal{
        height: 120%;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        
 
  }
  .modal-content {
    margin: 10vw auto;
    width: 60vw;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  .modal-header {
    background: var(--modal-color);
    padding: 0.82vw;
    color: orange;
    border-top-left-radius: 0.27vw;
    border-top-right-radius:0.27vw;
  }
  .h12{
    color: orange;
    font-size: 5vw;
    margin: 0vw;
  }
  .modal-body {
    padding: 10vw 10vw;
    background-color:floralwhite;
  }  
  .modal-footer {
    background: var(--modal-color);
    padding: 0.6vw;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 0.27vw;
    border-bottom-right-radius: 0.27vw;
  }
  .modalfooter{
    color:white;
    font-size: 0.6vw;
  }
  .close {
    color: #ccc;
    float: right;
    font-size: 1.5vw;
    color: #fff;
  }
    .close:hover, .close:focus {
        color: red;
        transform: rotate(90deg);
        text-decoration: none;
        cursor: pointer;
        transform: rotate(90deg);
    }
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.the-word {
    Color: black;
    font-weight: bolder;
    font-size: 3vw;
    margin-top: -5vw;
}

.the-def {
    Color: black;
    font-weight: bold;
    font-size: 1vw;
}

.Cata1 {
    text-align: center;
    Color: darkorange;
    font-weight: bolder;
    font-size: 3vw;
    font-family: 'Californian FB';
    font-weight: 600;
}

.Cata2 {

    
    font-size: 1.2vw;
    font-family: 'Californian FB';
   font-weight:400;
    text-align: center;
    color: black;
    font-style: italic;
   
}